.img2-1 {
    padding: 40px 0 0 0;
}

.text2-1 {
    margin: 35px auto 0px auto;
}

.text2-1_text {
    text-align: center;
    margin-top: 5px;
    font-size: 16px;
    
}

.text_button2-1 {
    color: #333;
}