.bg4 {
    background: url(../img/bg-4.png) 0 0/auto auto no-repeat;
}

.content4 {
    font-size: 16px;
    padding-top: 50px;
    display: flex;
    justify-content: space-between;
}

.text4 {
    width: 353px;
    text-align: center;
}

.text4-header {
    width: 100%;
    font-size: 24px;
}

.text4-text {
    width: 100%;
    margin: 90px auto;
    line-height: 1.15;
}

.text4_g-over {
    width: 100%;
    color: #DB3131;
}

.img4 {
    width: 392px;
}

.img4-1 {
    width: 392px;
}