.link-bar {
    display: flex;
    justify-content: space-between;
}

.link_3-1 {
    margin-top: 20px;
    display: block;
}

.link_3-1:hover{
    box-shadow: 0px 0px 10px 4px rgba(56, 50, 49, 0.2);

}

.img3 {}

.text3 {
    font-size: 16px;
    text-align: center;
    color: black;
    margin-top: 20px;
    line-height: 1.25;
}

.text_button2-1 {
    color: #333;
}