.bg5 {
    background: url(bg-5.png) 0 0/auto auto no-repeat;
}

.content5 {
    font-size: 16px;
    padding-top: 50px;
    display: flex;
    justify-content: space-between;
}

.text5 {
    width: 400px;
    text-align: center;
    font-size: 16px;
    padding-top: 50px;
}

.text5-header {
    margin: 0 auto;
    width: 60%;
    line-height: 1.15;
}

.text5-text {
    width: 60%;
    margin: 90px auto;
    line-height: 1.15;
}

.img4 {
    width: 392px;
}

.img4-1 {
    width: 392px;
}