.conteiner{

}

.content6 {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.text6 {
    width: 400px;
    font-size: 16px;
    text-align: center;
    line-height: 1.15;
}

.text6-header {}

.text6-text {
    margin: 30px auto 50px;
}

.box-link6 {}

.link6-link {
    display: block;
    margin-top: 20px;
    padding: 20px 0;
    width: 400px;
    background-color: #F5F0EB;
    border:1px solid #E0DFDB;
    color: black;
}

.link6-link:hover{
    background-color: #debd9c;
    border: 1px solid #a3a3a2;
    color: rgb(200, 107, 107);
}
.img6 {}

.img5-1 {}
